/Basics/bin
/Basics/obj
/Client/bin
/Client/obj
/IdentityExample/bin
/IdentityExample/obj
/Server/bin
/Server/obj
/ApiOne/bin
/ApiOne/obj
/ApiTwo/bin
/ApiTwo/obj
/API/bin
/API/obj
/Authentication/bin
/Authentication/obj
/IdentityServer/bin
/IdentityServer/obj
/MvcProject/bin
/MvcProject/obj