@model string
@{ 
    var url = $"/Oauth/Authorizae{Model}";
}
@Model
<form action="@url" method="post">
    <input type="text" name="username" value=""/>
    <input type="submit" value="login" />

</form>