<h1>This is home PAge javascript client </h1>

<button onclick="signIn()">Singn in</button>

<div>
    <button onclick="callApi()">Call Api</button>
</div>

@*<script src="~/sign-in.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.11.6-beta.1/oidc-client.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/main.js"></script>